<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <body>
    <main>
      <div class="container-fluid mx-0 px-0">
        <%-include('./partials/nav')%>
        <div class="container">
          <button
            onclick="window.history.back()"
            class="btn border border-2 border-light d-flex align-items-center back_button"
          >
            <span class="material-symbols-outlined me-2"> arrow_back_ios </span>
            <span>Go Back</span>
          </button>
          <div class="mt-5">
            <h5 class="bg-primary text-white p-1">
              <span>Name: </span><%=customer.customer_name%>
            </h5>
          </div>

          <section>
            <table class="table border">
              <tbody>
                <tr>
                  <th scope="row">Address</th>
                  <td><%=customer.address%></td>
                </tr>
                <tr>
                  <th scope="row">Product Ordered</th>
                  <td><%=product.product_name%></td>
                </tr>
                <tr>
                  <th scope="row">Quantity</th>
                  <td><%=customer.quantity_ordered%></td>
                </tr>
                <tr>
                  <th scope="row" class="table-active">Total Purchased</th>
                  <td class="table-active"><%=customer.total_purchased%></td>
                </tr>
              </tbody>
            </table>
          </section>
          <section>
            <hr />
            <div class="d-flex">
              <a
                href="<%=customer.url%>/edit"
                class="btn btn-primary btn-sm d-flex align-items-center md-18"
                ><span>Edit</span
                ><span class="material-symbols-outlined ms-2">
                  edit_note
                </span></a
              >
              <a
                href="<%=customer.url%>/delete"
                class="btn btn-sm btn-light d-flex align-items-center ms-3"
                data-bs-toggle="modal"
                data-bs-target="#Cust<%=customer.customer_name.slice(0,2)%><%=customer._id%>"
              >
                <span>Delete</span>
                <span class="material-symbols-outlined ms-2"> delete </span>
              </a>
            </div>
          </section>

          <!-- Delete Product Modal -->
          <div
            class="modal fade"
            id="Cust<%=customer.customer_name.slice(0,2)%><%=customer._id%>"
            tabindex="-1"
            aria-labelledby="Cust<%=customer.customer_name.slice(0,2)%><%=customer._id%>ModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title"
                    id="Cust<%=customer.customer_name.slice(0,2)%><%=customer._id%>ModalLabel"
                  >
                    Delete Customer: <%=customer.customer_name.toUpperCase()%>
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div
                    class="alert alert-warning d-flex align-items-center"
                    role="alert"
                  >
                    <span class="material-symbols-outlined me-2"> report </span
                    ><span>Customer will be deleted.</span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger customerID"
                    data-customerid="<%customer.url%>"
                    data-productid="customer.product_ordered"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%-include('./partials/scripts')%>
  </body>
</html>
