<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <body>
    <main>
      <div class="container-fluid mx-0 px-0">
        <%-include('./partials/nav')%>

        <div class="container">
          <button
            onclick="window.history.back()"
            class="btn border border-2 border-light d-flex align-items-center back_button"
          >
            <span class="material-symbols-outlined me-2"> arrow_back_ios </span>
            <span>Go Back</span>
          </button>
          <div class="mt-5">
            <button
              onclick="window.location.reload();return"
              class="refresh_btn btn btn-sm btn-light border border-secondary d-flex align-items-center me-auto mb-2"
            >
              <span class="material-symbols-outlined me-2 arrow_animation">
                autorenew
              </span>
              <span>Refresh</span>
            </button>
            <h5 class="bg-primary text-white p-1">
              <span>Product: </span><%=product.product_name%>
            </h5>
          </div>

          <section>
            <table class="table border">
              <tbody>
                <tr>
                  <th scope="row">Quantity</th>
                  <td><%=product.quantity%></td>
                </tr>
                <tr>
                  <th scope="row">Original Price</th>
                  <td><%=product.original_price_formatted%></td>
                </tr>
                <tr>
                  <th scope="row" class="table-active">Selling Price</th>
                  <td class="table-active">
                    <%=product.selling_price_formatted%>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <section class="my-5">
            <h5 class="bg-secondary text-white p-1">Customers</h5>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#customerModal"
            >
              Add Customer
            </button>
            <hr />
            <%if(customers.length <= 0){%>
            <div
              class="alert alert-warning d-flex align-items-center"
              role="alert"
            >
              <span class="material-symbols-outlined me-2"> report </span
              ><span>No Customer Ordered.</span>
            </div>

            <%} else{%>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Orders</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <%customers.forEach((customer)=> {%>
                <tr>
                  <td class="td_description"><%=customer.customer_name%></td>
                  <td><%=customer.quantity_ordered%></td>

                  <td class="px-0 m-0">
                    <a href="<%=customer.url%>" class="btn btn-sm btn-success"
                      >View Details</a
                    >
                  </td>
                </tr>

                <%})%>
              </tbody>
            </table>
            <%}%>

            <!-- Modal -->
            <div
              class="modal fade"
              id="customerModal"
              tabindex="-1"
              aria-labelledby="customerModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="customerModalLabel">
                      Add Customer
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form
                    action=""
                    method="POST"
                    onsubmit="totalPurchasedValue()"
                  >
                    <div class="modal-body">
                      <div class="form-group pb-2">
                        <input
                          type="hidden"
                          name="product_ordered"
                          id="product_ordered"
                          value="<%=product._id%>"
                        />
                        <input
                          type="hidden"
                          name="weekly_product"
                          id="weekly_product"
                          value="<%=product.weekly_product%>"
                        />
                      </div>
                      <div class="form-group pb-2">
                        <label for="customer_name" class="pb-1"
                          >Customer Name:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="customer_name"
                          id="customer_name"
                          required="true"
                          autocomplete="off"
                          value="<%=customer_reset !== undefined ? customer_reset.customer_name : ''%>"
                        />
                      </div>
                      <div class="form-group pb-2">
                        <label for="address" class="pb-1">Address:</label>
                        <input
                          type="text"
                          class="form-control"
                          name="address"
                          id="address"
                          required="true"
                          autocomplete="off"
                          value="<%=customer_reset !== undefined ?  customer_reset.address : ''%>"
                        />
                      </div>
                      <div class="form-group pb-2">
                        <label for="quantity_ordered" class="pb-1"
                          >Quantity Ordered:</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="quantity_ordered"
                          id="quantity_ordered"
                          required="true"
                          autocomplete="off"
                          value="<%=customer_reset !== undefined ?  customer_reset.quantity_ordered : ''%>"
                        />
                      </div>
                      <div class="form-group pb-2">
                        <input
                          type="hidden"
                          name="total_purchased"
                          id="total_purchased"
                          value=""
                        />
                        <input
                          type="hidden"
                          id="product_selling_price_ref"
                          value="<%=product.selling_price%>"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="reset" class="btn bg-light">Reset</button>
                      <button type="submit" class="btn btn-primary">
                        Save Customer
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%-include('./partials/scripts')%>
  </body>
</html>
