<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <body>
    <main>
      <div class="container-fluid mx-0 px-0">
        <%-include('./partials/nav')%>

        <div class="container">
          <button
            onclick="window.history.back()"
            class="btn border border-2 border-light d-flex align-items-center back_button me-auto"
          >
            <span class="material-symbols-outlined me-2"> arrow_back_ios </span>
            <span>Go Back</span>
          </button>
          <div class="mt-5">
            <button
              onclick="window.location.reload();return"
              class="refresh_btn btn btn-sm btn-light border border-secondary d-flex align-items-center me-auto mb-2"
            >
              <span class="material-symbols-outlined me-2 arrow_animation">
                autorenew
              </span>
              <span>Refresh</span>
            </button>
            <h5 class="bg-primary text-white p-1">
              <span>Sales History</span>
            </h5>
            <section>
              <%if(all_weekly_product_sales <= 0) {%>

              <div
                class="alert alert-warning d-flex align-items-center"
                role="alert"
              >
                <span class="material-symbols-outlined me-2"> report </span
                ><span>No Products Available.</span>
              </div>

              <%} else{%>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="td_description">Week</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <%all_weekly_product_sales.forEach((weekly_product_sales)=>
                  {%>
                  <tr>
                    <td class="td_description">
                      <%=weekly_product_sales.date_start_formatted%> -
                      <%=weekly_product_sales.date_end_formatted%>
                    </td>
                    <td style="width: 3%">
                      <a
                        href="<%=weekly_product_sales.url%>"
                        class="btn btn-sm btn-success bg-gradient d-flex align-items-center justify-content-between"
                        ><span class="material-symbols-outlined me-1">
                          pageview</span
                        ><span>View</span></a
                      >
                    </td>
                    <td class="px-0 m-0" style="width: 5%">
                      <button
                        type="submit"
                        class="btn btn-sm d-flex align-items-center"
                        data-bs-toggle="modal"
                        data-bs-target="#Edit<%=weekly_product_sales._id%>"
                      >
                        <span class="material-symbols-outlined m-0">
                          edit_note
                        </span>
                      </button>
                    </td>
                    <td class="px-0 m-0" style="width: 5%">
                      <button
                        type="submit"
                        class="btn btn-sm d-flex align-items-center"
                        data-bs-toggle="modal"
                        data-bs-target="#Week<%=weekly_product_sales._id%>"
                      >
                        <span class="material-symbols-outlined m-0">
                          delete
                        </span>
                      </button>
                    </td>
                  </tr>
                  <!-- Delete Product Modal -->
                  <div
                    class="modal fade"
                    id="Week<%=weekly_product_sales._id%>"
                    tabindex="-1"
                    aria-labelledby="Week<%=weekly_product_sales._id%>ModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="Week<%=weekly_product_sales._id%>ModalLabel"
                          >
                            Delete Weekly Sales: <%=weekly_product_sales._id%>
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div
                            class="alert alert-warning d-flex align-items-center"
                            role="alert"
                          >
                            <span class="material-symbols-outlined me-2">
                              report </span
                            ><span>Sales week will be deleted.</span>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-danger salesweekID"
                            data-salesweekid="<%=weekly_product_sales.url%>"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Edit ProductModal -->
                  <div
                    class="modal fade"
                    id="Edit<%=weekly_product_sales._id%>"
                    tabindex="-1"
                    aria-labelledby="Edit<%=weekly_product_sales._id%>ModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="Edit<%=weekly_product_sales._id%>ModalLabel"
                          >
                            Edit Weekly Sales
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <form
                          name="salesEditForm"
                          data-salesweekid="<%=weekly_product_sales._id%>"
                          data-salesweekurl="<%=weekly_product_sales.url%>"
                        >
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="date_start">From:</label>
                              <input
                                type="date"
                                name="date_start"
                                id="date_start"
                                class="form-control"
                                data-datestart="<%=weekly_product_sales.date_start%>"
                                value=""
                              />
                            </div>

                            <div class="form-group mt-3">
                              <label for="date_end">To:</label>
                              <input
                                type="date"
                                name="date_end"
                                id="date_end"
                                class="form-control"
                                data-dateend="<%=weekly_product_sales.date_end%>"
                                value=""
                              />
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="reset" class="btn bg-light">
                              Reset
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Save Update
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <%})%>
                </tbody>
              </table>
              <%}%>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%-include('./partials/scripts')%>
  </body>
</html>
